<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bamboocloud.risk.db.mapper.DashboardMapper">
    <resultMap id="currentRiskCountMap" type="java.util.HashMap">
      <result property="id" column="ID"></result>
      <result property="type" column="TYPE"></result>
      <result property="count" column="COUNT"></result>
      <result property="createTime" column="CREATE_TIME"></result>
    </resultMap>

    <resultMap id="weekAppCountMap" type="java.util.HashMap">
      <result property="id" column="ID"></result>
      <result property="appName" column="APP_NAME"></result>
      <result property="count" column="COUNT"></result>
      <result property="createTime" column="CREATE_TIME"></result>
    </resultMap>

    <resultMap id="weekUserCountMap" type="java.util.HashMap">
      <result property="id" column="ID"></result>
      <result property="mondayCount" column="MONDAY_COUNT"></result>
      <result property="tuesdayCount" column="TUESDAY_COUNT"></result>
      <result property="wensdayCount" column="WENSDAY_COUNT"></result>
      <result property="thursdayCount" column="THURSDAY_COUNT"></result>
      <result property="fridayCount" column="FRIDAY_COUNT"></result>
      <result property="saturdayCount" column="SATURDAY_COUNT"></result>
      <result property="sundayCount" column="SUNDAY_COUNT"></result>
      <result property="week" column="WEEK"></result>
      <result property="startTime" column="START_WEEK_TIME"></result>
      <result property="endTime" column="END_WEEK_TIME"></result>
    </resultMap>

    <resultMap id="totalDeviceCountMap" type="java.util.HashMap">
      <result property="id" column="ID"></result>
      <result property="name" column="NAME"></result>
      <result property="count" column="COUNT"></result>
    </resultMap>

    <resultMap id="yearCityCountMap" type="java.util.HashMap">
      <result property="id" column="ID"></result>
      <result property="name" column="NAME"></result>
      <result property="count" column="COUNT"></result>
      <result property="time" column="TIME"></result>
    </resultMap>

    <select id="queryCurrentRiskCount" resultMap="currentRiskCountMap" parameterType="java.util.Date" databaseId="mysql">
      SELECT *
        FROM T_CURRENT_RISK_COUNT
       WHERE CREATE_TIME = DATE_FORMAT(#{createTime},'%Y-%m-%d')
    </select>

    <select id="queryCurrentRiskCount" resultMap="currentRiskCountMap" parameterType="java.util.Date" databaseId="oracle">
      SELECT *
        FROM T_CURRENT_RISK_COUNT
       WHERE CREATE_TIME = TO_CHAR(#{createTime},'yyyy-mm-dd')
    </select>

    <select id="queryWeekAppCount" resultMap="weekAppCountMap" parameterType="java.util.Date" databaseId="mysql">
      SELECT *
        FROM T_WEEK_APP_COUNT
       WHERE CREATE_TIME = DATE_FORMAT(#{createTime},'%Y-%m-%d')
    ORDER BY COUNT
    </select>

    <select id="queryWeekAppCount" resultMap="weekAppCountMap" parameterType="java.util.Date" databaseId="oracle">
      SELECT *
        FROM T_WEEK_APP_COUNT
       WHERE CREATE_TIME = TO_CHAR(#{createTime},'yyyy-mm-dd')
    ORDER BY COUNT
    </select>

    <select id="queryWeekUserCount" resultMap="weekUserCountMap" parameterType="java.util.Date" databaseId="mysql">
      SELECT *
        FROM T_WEEK_USER_COUNT
       WHERE START_WEEK_TIME &lt;= DATE_FORMAT(#{weekTime},'%Y-%m-%d')
         AND END_WEEK_TIME &gt;= DATE_FORMAT(#{weekTime},'%Y-%m-%d')
    </select>

    <select id="queryWeekUserCount" resultMap="weekUserCountMap" parameterType="java.util.Date" databaseId="oracle">
      SELECT *
        FROM T_WEEK_USER_COUNT
       WHERE START_WEEK_TIME &lt;= #{weekTime}
         AND END_WEEK_TIME &gt;= #{weekTime}
    </select>

    <select id="queryTotalDeviceCount" resultMap="totalDeviceCountMap">
      SELECT *
        FROM T_TOTAL_DEVICE_COUNT
    </select>
</mapper>